<div class="container">
  <div class="box">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin euismod tincidunt. Fusce eleifend ipsum
      ultricies facilisis commodo. Phasellus id nisl vitae nunc rutrum pulvinar vel vitae magna. In hac habitasse platea
      dictumst. Nullam lacus nibh, mattis eget vulputate eget, commodo quis neque. Nulla lacus mi, ornare in commodo sed,
      auctor sed elit. Nulla ac ornare lorem, ut elementum nibh.
    </p>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin euismod tincidunt. Fusce eleifend ipsum
      ultricies facilisis commodo. Phasellus id nisl vitae nunc rutrum pulvinar vel vitae magna. In hac habitasse platea
      dictumst. Nullam lacus nibh, mattis eget vulputate eget, commodo quis neque. Nulla lacus mi, ornare in commodo sed,
      auctor sed elit. Nulla ac ornare lorem, ut elementum nibh.
    </p>
    
    <p>
      Sed dictum vulputate risus nec molestie. Praesent venenatis, felis id mattis lobortis, turpis purus pretium dolor, a
      blandit nisl nibh sed nibh. Vestibulum molestie mi ac libero dignissim, in malesuada erat ultricies. Sed hendrerit
      ipsum
      sapien, vitae condimentum enim vestibulum in. Donec scelerisque turpis magna, elementum dapibus ante tincidunt non.
      Suspendisse facilisis vel ante nec varius. Vestibulum vitae malesuada felis, a euismod urna.
    </p>
    
    <div class="buttons">
      <app-button
        [text]="'Button A'"
        [class]="'primary-color'"
        [tooltipText]="'Tooltip Text Button A'">
      </app-button>
      <app-button
        [text]="'Button B'"
        [class]="'secondary-color'"
        [tooltipText]="'Tooltip Text Button B'">
      </app-button>
    </div>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin euismod tincidunt. Fusce eleifend ipsum
      ultricies facilisis commodo. Phasellus id nisl vitae nunc rutrum pulvinar vel vitae magna. In hac habitasse platea
      dictumst. Nullam lacus nibh, mattis eget vulputate eget, commodo quis neque. Nulla lacus mi, ornare in commodo sed,
      auctor sed elit. Nulla ac ornare lorem, ut elementum nibh.
    </p>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin euismod tincidunt. Fusce eleifend ipsum
      ultricies facilisis commodo. Phasellus id nisl vitae nunc rutrum pulvinar vel vitae magna. In hac habitasse platea
      dictumst. Nullam lacus nibh, mattis eget vulputate eget, commodo quis neque. Nulla lacus mi, ornare in commodo sed,
      auctor sed elit. Nulla ac ornare lorem, ut elementum nibh.
    </p>
    
    <p>
      Sed dictum vulputate risus nec molestie. Praesent venenatis, felis id mattis lobortis, turpis purus pretium dolor, a
      blandit nisl nibh sed nibh. Vestibulum molestie mi ac libero dignissim, in malesuada erat ultricies. Sed hendrerit
      ipsum
      sapien, vitae condimentum enim vestibulum in. Donec scelerisque turpis magna, elementum dapibus ante tincidunt non.
      Suspendisse facilisis vel ante nec varius. Vestibulum vitae malesuada felis, a euismod urna.
    </p>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin euismod tincidunt. Fusce eleifend ipsum
      ultricies facilisis commodo. Phasellus id nisl vitae nunc rutrum pulvinar vel vitae magna. In hac habitasse platea
      dictumst. Nullam lacus nibh, mattis eget vulputate eget, commodo quis neque. Nulla lacus mi, ornare in commodo sed,
      auctor sed elit. Nulla ac ornare lorem, ut elementum nibh.
    </p>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin euismod tincidunt. Fusce eleifend ipsum
      ultricies facilisis commodo. Phasellus id nisl vitae nunc rutrum pulvinar vel vitae magna. In hac habitasse platea
      dictumst. Nullam lacus nibh, mattis eget vulputate eget, commodo quis neque. Nulla lacus mi, ornare in commodo sed,
      auctor sed elit. Nulla ac ornare lorem, ut elementum nibh.
    </p>
    
    <p>
      Sed dictum vulputate risus nec molestie. Praesent venenatis, felis id mattis lobortis, turpis purus pretium dolor, a
      blandit nisl nibh sed nibh. Vestibulum molestie mi ac libero dignissim, in malesuada erat ultricies. Sed hendrerit
      ipsum
      sapien, vitae condimentum enim vestibulum in. Donec scelerisque turpis magna, elementum dapibus ante tincidunt non.
      Suspendisse facilisis vel ante nec varius. Vestibulum vitae malesuada felis, a euismod urna.
    </p>
  </div>
</div>
